*{
    margin: 0;
    text-decoration: none;
}

:root{
    --logo: #FE8934;
    --background_offwhite: #D9D9D9;
    --background_darkblue: #060928;
    --background_blue: #3456FE;
    --background_blue--active: #8191e2;
    --font_montserrat: 'Montserrat', 'Poppins', sans-serif;
    --font_poppins: 'Poppins', 'Montserrat', sans-serif;
}

.CapsLock{
    text-transform: uppercase;

}

.links{
    text-decoration: none;
    color: #000;

}

.links:visited{
    color: #000;

}

.links:hover, .links:focus{
    color: #555;

}

.test{
    background-color: yellow;

}

 
       
body{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

}

body, header, main, footer{
    height: 100%;
    width: 100%;
    background-color: #fff;

    overflow-x: hidden;

}

section{
    width: 100%;

}

header{
    display: flex;
    justify-content: center;

}

header section{
    height: 112px;
    width: 1110px;
    display: flex;
    align-items: center;

    position: fixed;

    z-index: 100;

}

.logo{
    display: flex;

    align-items: center;    

    position: relative;

    width: 182px;
    max-width: 182px;
    height: 40px;
    max-height: 40px;

    text-decoration: none;
    color: black
}

.logo img,
.logo h1{
    transition: scale 200ms ease-in-out;

}

.logo img{
    position: absolute;

    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
}

.logo h1{
    position: absolute;
    right: 0;

    font-family: var(--font_poppins);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.logo:focus,
.logo h1:hover{
    scale: 1.05;
    transition: scale 200ms ease-in-out;
}

.logo img:hover{
    scale: 1.10;
    transition: scale 200ms ease-in-out;

}

.menu{
    justify-self: flex-end;

    position: absolute;
    right: 0;

    font-family: var(--font_poppins);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    list-style: none;

    display: flex;

    flex-grow: 0;
    justify-content: flex-end;
    align-items: center;

    

    /*display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 36px;*/
}

.menu li{
    transition: transform 200ms ease-in-out;

}

.menu li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;

    padding: 17.5px;

    transition: color 200ms ease-in-out;;

}

.menu li a:focus,
.menu li:hover{
    color: var(--background_blue);
    transform: scale(1.10);
    transition: transform 200ms ease-in-out,
                color 200ms ease-in-out;

}

.container{
    margin: 0 auto;
    width: 1100px;

}

.roof{
    display: flex;

    height: 112px;
}

.logo{
    display: flex;
    align-items: center;

    height: 40px;
    width: 183px;

    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 20px;

}


.banner{
    display: flex;

}

.banner .text{
    margin-top: 155px;

    width: 524px;

}

.banner .text h2{
    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 48px;
    line-height: 128.5%;

    margin-bottom: 35px;
    width: 524px;
}

.banner .text p{
    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif; 
    font-weight: 500;
    font-size: 18px;
    line-height: 158.5%;

    margin-bottom: 52px;

}

.banner .text .button{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', 'Poppins', 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 20px;

    width: 200px;
    height: 50px;

    background-color: #3456FE;
    color: #fff;
    box-shadow: 15px 15px 30px rgba(49, 78, 221, 0.25);
}

.banner .text .button:visited{
    background-color: #3456FE;
    color: #fff;
    box-shadow: 15px 15px 30px rgba(49, 78, 221, 0.25);
    text-decoration: none;

}

.banner .text .button:focus,
.banner .text .button:hover/*, .button:focus*/{
    transition: background-color 200ms ease-in-out;
    background-color: #a2b2ff;

}

.banner .text .button p{
    margin-bottom: 0;
    
}
    
.banner img{
    transform: translateX(56px);
    overflow: hidden;
   
}

/*___*/

.offers_bg{
    background-color: #F8F8FA;

    padding-bottom: 66px;
}


.offers, .catalogue{
    display: flex;

}

.offers{
    padding-top: 100px;
    padding-bottom: 42px;
    
}

.offers h2{
    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;

    width: 432px;
    height: 92px;

    margin-left: 26px;
    margin-top: 16px;
}

.offers p{
    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 158.5%;

    width: 506px;
    height: 104px;

    margin-left: 163px;
}

.catalogue{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;

    margin-top: 38px; 
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;

    transition: scale 200ms linear;

}

.item img{
    padding-bottom: 7px;

}

.item:hover, 
.item:focus{
    scale: 1.05;
    transition: scale 200ms linear;

}

.item .text{
    font-family: 'Montserrat', 'Poppins', 'Arial', sans-serif; 
    color: #000;
    margin-top: 10px;
    font-size: 18px;
}

.item .title{
    font-weight: 700;

}

.item{
    color: #000;

}

.demo{
    background-color: #fff;

    padding-top: 34px;

    width: 1110px;

    display: flex;
    flex-direction: row;
    
}

.demo .text{
    margin-left: 15px;
    margin-right: 37px;

    width: 403px;

}

.demo h2{
    font-family: var(--font_poppins);
    font-size: 38px;
    font-weight: 700;
    
    margin-bottom: 154px;
}

.demo h4{
    font-family: var(--font_montserrat);
    font-size: 24px;
    font-weight: 700;
    
    margin-bottom: 40px;
}

.demo p{
    font-family: var(--font_poppins);
    font-size: 17px;
    font-weight: 400;

    width: 344px;
    
    margin-bottom: 34px;
}

.demo .button{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', 'Poppins', 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 20px;

    width: 200px;
    height: 50px;


    background-color: #3456FE;
    color: #fff;
    box-shadow: 15px 15px 30px rgba(49, 78, 221, 0.25);

    transition: background-color 200ms ease-in-out;

}

.demo .button:visited{
    background-color: #3456FE;
    color: #fff;
    box-shadow: 15px 15px 30px rgba(49, 78, 221, 0.25);
    text-decoration: none;


}
.demo .button:focus,
.demo .button:hover{
    animation: 1s ease-in-out alternate-reverse;
    background-color: #a2b2ff;

    transition: background-color 200ms ease-in-out;

}

.demo .button p{
    margin-bottom: 0;
    
}

.demo .images img{
    margin-top: 184px;
    margin-bottom: 58px;
    width: 616px;
}

.interior_showcase{
    background-color: #060928;
    color: #fff;
    padding-top: 42px; 


    z-index: 0;
}

.interior_showcase .interior{
    z-index: 3;
    position: relative;

}


.interior_showcase .interior h2{
    font-family: var(--font_poppins);
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    

    width: 403px;
}

.interior_showcase .interior h4{
    font-family: var(--font_montserrat);
    font-weight: 700;
    font-size: 24px;
    line-height: 126%;

    margin-top: 154px;
    margin-left: 551px;
    
}

.interior_showcase .interior .text{
    font-family: var(--font_poppins);
    font-weight: 400;
    font-size: 18px;
    line-height: 158.5%;

    width: 480px;

    margin-left: 551px;
    margin-top: 38px;


}

.interior_showcase .interior .button{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', 'Poppins', 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 20px;

    width: 200px;
    height: 50px;

    background-color: #3456FE;
    color: #fff;
    box-shadow: 15px 15px 30px rgba(49, 78, 221, 0.25);
    border: none;

    margin-left: 551px;
    margin-top: 38px;

    transition: background-color 200ms ease-in-out;

}

.interior_showcase .interior .button:focus,
.interior_showcase .interior .button:hover/*, .button:focus*/{
    transition: background-color 200ms ease-in-out;
    background-color: #a2b2ff;

}

.interior_showcase .images{
    width: 901px;
    display: flex;

    justify-content: space-between;

    margin-left: 227px;
    margin-top: 106px;
    padding-bottom: 193px;

}

.interior_showcase .images a img{
    width: 211px;

    transition: transform 250ms ease-in-out,
                box-shadow 250ms ease-in-out;

} 

.interior_showcase .images a:focus img,
.interior_showcase .images a:hover img{
    transform: translateY(-24px);
    box-shadow: 20px 20px 30px 0 rgba(0, 0, 0, 0.25);

    transition: transform 250ms ease-in-out,
                box-shadow 250ms ease-in-out;

    z-index: 100;
}

.interior_showcase .outerImage{
    width: 616px;
    position: absolute;

    border-radius: 20px;

    top: 191px;
    left: -162px;
   
    z-index: -1;
}

.slider-content{
    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

}

.slider .slider-content h2{
    font-family: var(--font_montserrat);
    
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;

    text-align: center;

    width: 612px;

    margin-top: 55px;
    margin-bottom: 58px;

}

.slider .slider-content .JavaSlider{
    display: flex;

    height: 534px;
    width: 910px;

    position: relative;

    overflow: visible;


}

.slider .slider-content .JavaSlider img{
    position: absolute;

}

.slider .slider-content .JavaSlider .left{
    transform: translateX(-955px);
    transition: transform 1500ms ease-in-out;
    z-index: 1;
}

.slider .slider-content .JavaSlider .current{

    transition: transform 1500ms ease-in-out;
    z-index: 2;
}

.slider .slider-content .JavaSlider .right{
    transform: translateX(955px);
    transition: transform 1500ms ease-in-out;
    z-index: 3;
}

.slider .slider-content .buttons{
    position: absolute;
    
    display: flex;
    
    justify-content: space-between;

    width: 910px;

    top: 0px;

}

.slider .slider-content .buttons button{
    height: 534px;
    width: 100px;

    z-index: 60;
    
    border: none;
    border-radius: 20px;

    font-size: 25px;
    pointer-events:stroke;

    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff0;
    transition: background-color 300ms linear;

}

.slider .slider-content .buttons button:focus,
.slider .slider-content .buttons button:hover{
    background-color: #fff5;
    transition: background-color 300ms linear;

}

.slider .slider-content .buttons button span{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 50px;

    transform: scale(1);
    transition: all 300ms linear;

}

.slider .slider-content .buttons button:focus span,
.slider .slider-content .buttons button:hover span{
    transform: scale(1.5);
    transition: all 300ms linear;
}


.slider .slider-content .buttons .left-button{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-position: 100% 0;
    background-size: 400% 400% ;

}

.slider .slider-content .buttons .right-button{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}


.slider .slider-content h5{
    font-family: var(--font_montserrat);
    
    font-weight: 700;
    font-size: 24px;
    line-height: 126%;

    text-align: center;

    margin: 40px 0;
}

.slider .slider-content .text{
    font-family: var(--font_poppins);

    font-weight: 400;
    font-size: 18px;
    line-height: 158.5%;
    
    text-align: center;

    width: 728px;
    
    margin-bottom: 56px;
}

.cellar{
    background-color: #3456FE;
    position: relative;

}

.cellar .cover{
    width: 100%;
    height: 1007px;
    background-image: url("../img/cellar-image.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.cellar .cellar-bottom{
    position: relative;
    padding-top: 253px;

    display: flex;

}

.cellar .cellar-bottom .submit{
    width: 740px;
    height: 622px;
    background-color: var(--background_darkblue);

    position: absolute;
    right: -148px;
    top: -500px;
    
}

.cellar .cellar-bottom .submit h2{
    font-family: var(--font_montserrat);
    
    font-weight: 700;
    font-size: 48px;
    line-height: 68px;

    color: white;

    margin-top: 126px;
    margin-left: 81px;
    
}

.cellar .cellar-bottom .submit p{
    font-family: var(--font_poppins);
    
    font-weight: 400;
    font-size: 20px;
    line-height: 158.5%;

    margin-left: 81px;
    color: white;

    width: 495px;

    margin-top: 20px;
    margin-left: 81px;

    
}

.cellar .cellar-bottom .submit form{
    position: relative;
    width: 529px;

    margin-top: 24px;
    margin-left: 81px;
}

.cellar .cellar-bottom .submit form input{
    position: absolute;

}

.cellar .cellar-bottom .submit form #text{
    color: #333;
    background-color: #fff;

    font-family: var(--font_montserrat);

    font-weight: 400;
    font-size: 15px;
    line-height: 175.4%;
    
    width: 495px;
    padding: 11px 0;
    padding-left: 34px; 

    border: none;
    border-radius: 10px;
}

.cellar .cellar-bottom .submit form #button{
    color: #fff;
    background-color: var(--background_blue);

    font-family: var(--font_montserrat);

    font-weight: 700;
    font-size: 20px;
    line-height: 175.4%;
    
    width: 149px;
    padding: 6.5px 46px;

    border: none;
    border-radius: 10px;
    
    top: 0;
    right: 0;

    transition: background-color 200ms linear;
}

.cellar .cellar-bottom .submit form #button:focus,
.cellar .cellar-bottom .submit form #button:hover{
    background-color: var(--background_blue--active);

    transition: background-color 200ms linear;
}

.cellar .cellar-bottom .cellar-bottom-left .logo h1{
    font-family: var(--font_poppins);

    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: white;
}

.cellar .cellar-bottom .cellar-bottom-left .text{
    font-family: var(--font_poppins);

    font-weight: 400;
    font-size: 20px;
    line-height: 158.5%;

    color: white;

    width: 373px;

    padding-top: 30px;

}

.cellar .cellar-bottom .cellar-bottom-right{
    display: flex;
    
    padding-left: 205px;

    overflow: hidden;
}

.cellar .cellar-bottom .cellar-bottom-right .list h6{
    font-family: var(--font_montserrat);

    font-weight: 700;
    font-size: 20px;
    line-height: 163.9%;

    color: white;

    padding-bottom: 21px;
}

.cellar .cellar-bottom .cellar-bottom-right .list ul{
    list-style-type: none;
    width: 211px;

    padding: 0;
}

.cellar .cellar-bottom .cellar-bottom-right .list ul li{
    height: 50px;

    text-align: left;
    width: 211px;
}

.cellar .cellar-bottom .cellar-bottom-right .list ul li a{
    font-family: var(--font_montserrat);

    font-weight: 400;
    font-size: 20px;
    line-height: 163.9%;

    color: white;
    transition: transform 250ms linear,
                color 250ms linear;


}

.cellar .cellar-bottom .cellar-bottom-right .list ul li a:focus{
    color: var(--background_darkblue);
    transition: color 250ms linear;
    font-weight: bolder;
}
.list ul li:hover{
    transform: translateX(10px) scale(1.1);
    transition: transform 250ms linear;
}

.cellar .cellar-bottom .cellar-bottom-right .partners{
    padding-left: 72px;

}

@media (max-width: 1110px) {
    .container{
        width: 900px;

    }
    header section{
        width: 900px;

    }
    .catalogue img{
        width: 250px;
    }
    .demo h2{
        font-size: 35px;
        margin-bottom: 70px;
    }
    .interior_showcase .images{
        margin-left: 127px;
        width: 800px;
    }
    .interior_showcase .images a img{
        width: 175px;
    }
    .cellar-bottom-right{
        padding-left: 50px !important;

    }
}

@media (max-width: 925px) {
    .container{
        width: 700px;

    }
    header section{
        width: 700px;

    }
    .menu{
        height: 200px;
    }
    .menu li{
        margin: 5px 0;
    }
    .menu li a{
        height: 16px;

    }
    .banner img{
        display: none;
    }
    .banner .text{
        margin-top: 20px;
    }
    .offers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .offers h2{
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .offers p{
        text-align: center;
        margin: 0;
        padding: 0;
        padding-top: 20px
    }
    .catalogue img{
        width: 200px;
    }
    .demo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .demo .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 40px
    }
    .demo h2{
        font-size: 35px;
        margin-bottom: 20px;
    }
    .demo h4{
        margin-bottom: 0;
    }
    .demo .text p{
        margin: 20px 0;
        width: 100%;
        font-size: 20px;
    }
    .demo img{
        margin-top: 20px !important;
    }
    .interior_showcase{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .interior_showcase .interior h2, 
    .interior_showcase .interior h4,
    .interior_showcase .interior .text,
    .interior_showcase .interior .button{
        margin: 10px 0;
    }
    .interior_showcase .images{
        margin-left: 0;
        margin-top: 0;
        padding: 20px 0;
        width: 700px;
    }
    .interior_showcase .images a img{
        width: 150px;
    }
    .interior_showcase .outerImage{
        display: none;
    }
    .slider .slider-content .JavaSlider{
        height: 400px;   

    }
    .slider .slider-content .JavaSlider .buttons,
    .slider .slider-content .JavaSlider,
    .slider .slider-content .JavaSlider img{
        width: 600px;
    }
    .slider .slider-content .JavaSlider .buttons button{
        height: 352px;
    }
    .slider .slider-content .JavaSlider .left{
        transform: translateX(-120%);
    }
    .slider .slider-content .JavaSlider .right{
        transform: translateX(120%);
    }
    .cellar-bottom-right{
        padding-left: 50px !important;
        flex-direction: column;

    }
    .partners{
        padding-left: 0 !important;
    }
}
@media (max-width: 925px) {
    .slider{
        display: none;
    }
    .images{
        margin-bottom: 30px;
    }
}
@media (max-width: 720px) {
    .slider{
        display: none;
    }
    .images{
        margin-bottom: 30px;
    }
    .container{
        width: 300px;

    }
    header section{
        width: 300px;
        height: 200px;
        position: static;

        

    }
    .menu{
        flex-direction: column;
        position: static;
        
    }
    .banner{
        flex-direction: column;
        text-align: center;

    }
    .banner .text h2{
        width: 300px;
    }
    .banner .text p{
        width: 300px;
    }
    .banner .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
    .offers_bg{
        display: none;
    }
    .demonstration .demo .text h2,
    .demonstration .demo .text h4,
    .demonstration .demo .text p,
    .interior_showcase .interior h2,
    .interior_showcase .interior h4,
    .interior_showcase .interior .text{
        width: 300px;
    }
    .interior_showcase .interior .images{
        display: none;
    }
    .cellar .cellar-bottom .submit{
        width: 300px;
        height: 450px;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cellar .cellar-bottom .submit h2{
        margin: 0;
    }
    .cellar .cellar-bottom .submit .text{
        display: none;
    }
    .cellar .cellar-bottom .submit form{
        margin: 10px;
        width: 300px;
        
    }
    .cellar .cellar-bottom .submit form #text{
        width: 200px;
        margin: 0 20px;
    }
    .cellar .cellar-bottom .submit form #button{
        position: static;
        margin: 0 20px;
        margin-top: 60px;
    }
    .cellar .cellar-bottom{
        flex-direction: column;
    }
    .cellar .cellar-bottom .cellar-bottom-left .text{
        display: none;
    }
}
