*{
    margin: 0;
    text-decoration: none;

    --montserat: 'Montserrat', sans-serif; 
    --poppins: 'Poppins', sans-serif;
}

:root{
    --logo: #FE8934;
    --background_offwhite: #D9D9D9;
    --background_darkblue: #060928;
    --background_blue: #3456FE;
    --background_blue--active: #8191e2;
    --font_montserrat: 'Montserrat', 'Poppins', sans-serif;
    --font_poppins: 'Poppins', 'Montserrat', sans-serif;
}

.CapsLock{
    text-transform: uppercase;

}

.links{
    text-decoration: none;
    color: #000;

}

.links:visited{
    color: #000;

}

.links:hover, .links:focus{
    color: #555;

}

.test{
    background-color: yellow;

}

 
       


body, header, main, footer{
    height: 100%;
    background-color: #fff;

}

section{
    width: 100%;

}

header{
    display: flex;
    justify-content: center;
}

header section{
    height: 112px;
    width: 1110px;
    display: flex;
    align-items: center;

    position: fixed;

    z-index: 2;
}

.logo{
    display: flex;

    align-items: center;    

    position: relative;

    width: 182px;
    max-width: 182px;
    height: 40px;
    max-height: 40px;

    text-decoration: none;
    color: black
}

.logo img,
.logo h1{
    transition: scale 200ms ease-in-out;

}

.logo img{
    position: absolute;

    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
}

.logo h1{
    position: absolute;
    right: 0;

    font-family: var(--font_poppins);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.logo:focus,
.logo img:hover,
.logo h1:hover{
    scale: 1.05;
    transition: scale 200ms ease-in-out;
}

.menu{
    justify-self: flex-end;

    position: absolute;
    right: 0;

    font-family: var(--font_poppins);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;

    list-style: none;

    display: flex;

    justify-content: flex-end;
    align-items: center;

    

    /*display: grid;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 36px;*/
}

.menu li a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;

    padding: 17.5px;

    transition: font-weight 200ms ease-in-out,
                font-style 200ms ease-in-out;

}

.menu li a:focus,
.menu li a:hover{
    font-weight: 650;

    font-style: italic;

    transition: font-weight 200ms ease-in-out
                font-style 200ms ease-in-out;
}

.container{
    margin: 0 auto;
    width: 1100px;

}

.roof{
    display: flex;

    height: 112px;
}

.logo{
    display: flex;
    align-items: center;

    height: 40px;
    width: 183px;

    margin-top: 38px;

    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 20px;

}

.logo p{
    margin-left: 20px;

}

.roof .menu ul{
    display: flex;
    align-items: center;
    
    margin-left: 380px;
    margin-top: 47px;
    
    
    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif; 
    font-weight: 500;
    font-size: 15px;

    list-style: none;
}

.roof .menu ul li{
    margin-right: 36px;

}


.banner{
    display: flex;

}

.banner .text{
    margin-top: 155px;

    width: 524px;

}

.banner .text h1{
    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 48px;
    line-height: 128.5%;

    margin-bottom: 35px;
    width: 524px;
}

.banner .text p{
    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif; 
    font-weight: 500;
    font-size: 18px;
    line-height: 158.5%;

    margin-bottom: 52px;

}

.banner .text .button{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', 'Poppins', 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 20px;

    width: 200px;
    height: 50px;


    background-color: #3456FE;
    color: #fff;
    box-shadow: 15px 15px 30px rgba(49, 78, 221, 0.25);
}

.banner .text .button:visited{
    background-color: #3456FE;
    color: #fff;
    box-shadow: 15px 15px 30px rgba(49, 78, 221, 0.25);
    text-decoration: none;

}

.banner .text .button:hover/*, .button:focus*/{
    animation: 1s ease-in-out alternate-reverse;
    background-color: #a2b2ff;

}

.banner .text .button p{
    margin-bottom: 0;
    
}
    
.banner img{
    margin-left: 56px;
   
}

/*___*/

.offers_bg{
    background-color: #F8F8FA;

    padding-bottom: 66px;
}


.offers, .catalogue{
    display: flex;

}

.offers{
    padding-top: 100px;
    margin-bottom: 42px;
    
}

.offers h2{
    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 38px;
    line-height: 120%;

    width: 432px;
    height: 92px;

    margin-left: 26px;
    margin-top: 16px;
}

.offers p{
    font-family: 'Poppins', 'Montserrat', 'Arial', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 158.5%;

    width: 506px;
    height: 104px;

    margin-left: 163px;
}

.catalogue{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;

    margin-top: 38px; 
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;

}

.item img{
    padding-bottom: 7px;

}

.item:hover, .item:focus{


}

.item .text{
    font-family: 'Montserrat', 'Poppins', 'Arial', sans-serif; 
    color: #000;
    margin-top: 10px;
    font-size: 18px;
}

.item .title{
    font-weight: 700;

}

.item{
    color: #000;

}

.white_block{
    background-color: #fff;
    display: flex;
    flex-direction: row;

    padding-top: 34px;
}

.white_block .text{
    margin-left: 164px;

}

.white_block h3{
    font-family: var(--poppins);
    font-size: 38px;
    font-weight: 700;
    
    margin-bottom: 154px;
}

.white_block h4{
    font-family: var(--montserat);
    font-size: 24px;
    font-weight: 700;
    
    margin-bottom: 40px;
}

.white_block p{
    font-family: var(--poppins);
    font-size: 17px;
    font-weight: 400;

    max-width: 344px;
    
    margin-bottom: 34px;
}

.white_block .button{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat', 'Poppins', 'Arial', sans-serif; 
    font-weight: bold;
    font-size: 20px;

    width: 200px;
    height: 50px;


    background-color: #3456FE;
    color: #fff;
    box-shadow: 15px 15px 30px rgba(49, 78, 221, 0.25);
}

.white_block .button:visited{
    background-color: #3456FE;
    color: #fff;
    box-shadow: 15px 15px 30px rgba(49, 78, 221, 0.25);
    text-decoration: none;

}

.white_block .button:hover/*, .button:focus*/{
    animation: 1s ease-in-out alternate-reverse;
    background-color: #a2b2ff;

}

.white_block .button p{
    margin-bottom: 0;
    
}

.white_block .images{
    margin-top: 184px;

}

.temp_class_2{
    background-color: #060928;
    
}

.temp_class_3{
    background-color: #fff;
    
}

.cellar{
    background-color: #3456FE;

}
